@import "tailwindcss";


@font-face {
    font-family: 'Halja-regular';
    src: url('/fonts/HaljaOT-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas-Regular';
    src: url('/fonts/Bebas-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DIN-Regular';
    src: url('/fonts/DIN-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fine-serif-regular';
    src: url('/fonts/fine-serif-regular.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'angel-wish';
    src: url('/fonts/Angel-wish.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'monumented-extended';
    src: url('/fonts/monumented-extende.woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'silka-bold';
    src: url('/fonts/silka-bold.woff2');
    font-weight: normal;
    font-style: normal;
}

.font-silka-bold {
    font-family: 'silka-bold';
}

.font-monumented-extended {
    font-family: 'monumented-extended';
}

.font-monumented {
    font-family: 'monumented-extended';
}
.font-bebas {
    font-family: 'Bebas-Regular';
}
.font-hajal {
    font-family: 'Halja-regular';
}

.font-din {
    font-family: 'DIN-Regular';
}

.font-fine-serif {
    font-family: 'fine-serif-regular';
}

.font-angel-wish {
    font-family: 'angel-wish';
}


body {
    background-color: #f0f0f0;
}