---
const fotos = [
  {
    id: 1,
    src: "/img/myname.png",
    alt: "Juan Cruz enseñando MTB"
  }
];
const fotoPrincipal = fotos[0];
---

<section class="bg-[#f0f0f0] text-[#181818] text-left px-4 relative">
  <div class="mb-4 -mx-4 h-48 relative overflow-hidden">
  <div id="parallax-bg" class="absolute inset-0 bg-[url('/img/fondo-iconos-cartas.svg')] bg-black bg-cover bg-center grayscale brightness-95 h-screen will-change-transform"></div>

  <div class="relative z-10 flex items-center justify-center h-full px-4">
    <h1 class="text-6xl font-angel-wish uppercase leading-none text-white drop-shadow-md text-center">
      Nosotros
    </h1>
  </div>
</div>

  <section class=" py-8 bg-[#f0f0f0]">
  <div class="bg-[#181818] text-white shadow-md overflow-hidden">
    <div class="p-6">
      <p class="text-base leading-relaxed">
        Somos Juan Cruz y Facundo Arce, dos apasionados del MTB con más de 10 años en el deporte. <br /><br />
        Nos dedicamos a enseñar mountain bike desde lo básico hasta técnicas más avanzadas.
      </p>
    </div>

    <img
      src="/img/myname-promax.jpg"
      alt="Juan Cruz y Facundo Arce enseñando MTB"
      class="w-full object-cover grayscale"
    />
  </div>
</section>
</section>

<script is:inline>
  const bg = document.getElementById('parallax-bg');

  function updateParallax() {
    if (!bg) return;

    const baseOffset = -window.innerHeight / 1.2;
    const scrolled = window.scrollY;

    bg.style.transform = `translateY(${baseOffset + scrolled * 0.5}px)`;
  }

  window.addEventListener('scroll', updateParallax);
  window.addEventListener('resize', updateParallax);
  window.addEventListener('load', updateParallax);
</script>