<section class="relative w-full h-full overflow-hidden shadow-x1">
  <!-- 🎥 Video de fondo -->
  <video
    autoplay
    muted
    loop
    playsinline
    class="absolute top-0 left-0 w-full h-full object-cover z-0"
  >
    <source src="/videos/mtb-fondo.mp4" type="video/mp4" />
    Tu navegador no soporta videos HTML5.
  </video>

  <!-- 🔤 Contenido encima  del viodeo-->
  <div class="relative z-10 flex items-center justify-center h-full text-4xl bg-black/70">
    <h1 class="text-black" style="font-family: Halja-regular; font-size: 7rem; -webkit-text-stroke: 0.6px white;">
      ride chucky
    </h1>
  </div>
</section>